{% extends 'base.html.twig' %}
{% import "macro.html.twig" as macro %}

{% block body %}
    <h1>Article edit</h1>


    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(edit_form) }}
        {{macro.input('Auteur', edit_form.author)}}
        {{macro.input('Contenu', edit_form.content)}}
        {{macro.submit('Edit')}}
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                {{macro.submit('Delete')}}
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
