{% extends 'base.html.twig' %}
{% import "macro.html.twig" as macro %}

{% block body %}
    <h1 class=my-4>Article</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Post #{{ article.id }}</h2>
            <p class="card-text">{{ article.content }}</p>
        </div>
        {% for picture in article.pictures %}
            <img class="card-img-top" src="{{ asset(picture.path) }}" alt="Card image cap">
        {% endfor %}
        <div class="card-footer text-muted">
            Posted by {{ article.author }}
        </div>
        <a href="{{ path('article_edit', { 'id': article.id }) }}" class="btn btn-primary">Edit &rarr;</a>
    </div>

    <a href="{{ path('article_index') }}">&larr; Back to the list</a>
{% endblock %}
